##############################
## Playwright
##############################
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

##############################
## node
##############################
package-lock.json

##############################
## Visual Studio Code
##############################
.vscode/
.code-workspace

##############################
## OS X
##############################
.DS_Store

##############################
## Miscellaneous
##############################
*.log
*.png
/.features-gen/
